/* td,th{
    border: 1px solid #ddd;
    padding: 10px 5px;
}
table{
    border-collapse: collapse;
}


/*------------------ form  START -----------------*/

/*----------------- form FINISHED -----------------*/



/* .megabox{
    width: 1000px;
    height: 600px;
    border: 5px solid steelblue;
    background-size: cover;
    overflow-y: scroll;
    overflow-x: hidden;
    
}
.megabox2{
    width: 500px;
    height:  400px;
    border: 5px solid rgb(162, 70, 180);

}
.mini-mini{
    width:  100px;
    height: 30px;
    border: 1px solid rgb(162, 70, 180);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */

*{
    margin: 0;
    padding: 0;
}
body{
    margin: 20px;
}
.container, .inner{
    width: 150px;
    height: 150px;
    border: 3px solid khaki;
}
.container{
    background-color: lightblue;
    margin: 0px;
    padding: 0;
}


.inner{
    background-color: coral;
    transform: rotate(45deg) scale(.5) translate(0px);
}
.box{
    width: 100px;
    height: 100px;
    background: coral;
    border: 2px solid cadetblue;
    transition: width 1s linear ,height 1s linear,transform 1s linear;
}
.box:hover{
    width: 200px;
    height: 200px;
    transform: rotate(360deg);
}
.bg {
    width: 80%;
    height: 800px;
    margin: auto;
    background-image: url(images/sunset.jpg);
    background-size: cover;
}
.bg img{
    position: relative;
    top: 10%;
    left: 40%;
   
}
.bg:hover img{
    top: 50%;
    transition: top 10s linear, opacity 1s linear 7s;
    opacity: 0;
   
}


.stage{
    width: 100%;
    height: 600px;
    background-color: aquamarine;
    display: flex;
}

.stage img.bat{
    width: 200px;
    height: auto;
}
.stage:hover img.bat{
    width: 200px;
    height: auto;
    transform: rotate(-40deg);
    transition: transform .1s ease-in;
    transform-origin: top right;

}
.ball{
    width: 60px;
    height:60px;
    border-radius: 50%;
    background: green;
    position: relative;
    top: 80%;
    left: 0%;
}
.stage:hover .ball{
    
    animation: ballAni 2.5s linear .05s ;
}

@keyframes ballAni {
    0%{
        background: green;
        top: 80%;
        left: 0%;
    }
    15%{
        top: 50%;
        left: 20%;
    }
    20%{
        top: 55%;
        left: 30%;
    }
    30%{
        top: 90%;
        left: 45%;
    }
    35%{
        top: 70%;
        left: 52%;
    }
    40%{
        top: 65%;
        left: 55%;
    }
    45%{
        top:70%;
        left: 60%;
    }
    50%{
        top: 90%;
        left: 65%;
    }
    55%{
        top: 90%;
        left: 68%;
    }
    60%{
        top: 85%;
        left: 70%;
    }
    65%{
        top: 80%;
        left: 73%;
    }
    70%{
        top: 85%;
        left: 75%;
    }
    75%{
        top: 90%;
        left: 78%;
    }
    85%{
        top: 85%;
        left: 80%;
        opacity: 1;
    }
    95%{
        top: 90%;
        left: 85%;
        opacity: 1;
    }
    100%{
        top: 90%;
        left: 87%;
        opacity: 0;
    }
}